
  /* .card { */
    /* width: auto;
    height: auto;
    margin: 0 20px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  /* } */
  
  /* .card img {
    max-width: 100%;
    max-height: 100%;
  } */
  
  /* body {
    margin: 20px;
    color: #fff;
  } */
  
  .rec.rec-carousel-wrapper:focus,
  .rec.rec-carousel-wrapper .rec-carousel:focus,
  .rec.rec-carousel-wrapper .rec-slider-container:focus,
  .rec.rec-carousel-wrapper .rec-slider-container .rec-slider:focus,
  .rec.rec-carousel-wrapper .rec-slider-container .rec-slider div:focus {
    outline: none;
  }
  
 .rec.rec-carousel-wrapper{
    padding: 50px 100px;
    height: 100vh;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background:url('../assets/background.jpg');
  }  
  
  /* Arrow Styles */
  
  .rec.rec-carousel-wrapper .rec-carousel button{
    /* background: rgb(92, 56, 158); */
    background: transparent;
    color: gray;
  }
  .rec.rec-carousel-wrapper .rec-carousel button:hover{
    /* background: rgb(92, 56, 158); */
    background: gray;
    color: whitesmoke;
  }
  
  .rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec {
    margin-top: 50px;
    box-shadow: none;
    background: rgba(92, 56, 158, 0.15);
  }
  
  .rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec.rec-dot_active {
    margin-top: 50px;
    height: 10px;
    width: 10px;
    background: #c7c7c7;
  }
  